<!DOCTYPE html>
%html(lang="en")
%head
	%meta(charset="UTF-8")/
	%title Document
%body
	.container
-# ------------ N A M E  &  T I T L E

		%header

			.name
			.title
			
-# ------------ M E N U

		.menu

			%nav
				%ul
					%li
						%a{:href => "New Work"}
					%li
						%a{:href => "About"}
					%li
						%a{:href => "Film"}
					%li
						%a{:href => "Theater"}
					%li
						%a{:href => "Featured"}
					%li
						%a{:href => "TV"}
					%li
						%a{:href => "Contact"}

	-# ------------ N E W   W O R K

		#new-work

			.recent-writing
			.av-club
				.work-items
					%ul
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}

			.visual-anchor

	-# ------------ A B O U T

		#about

			.about-text
				%div
					%p
				%div
					%p

		 .visual-anchor

	-# ------------ F E A T U R E D

		#featured 

			.featured-comics
				.work-items
					%ul
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}	

			.featured-tv
				.work-items
					%ul
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}

			.featured-theater
				.work-items
					%ul
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}

			.visual-anchor
				

	-# ------------ C O M I C S 
		
		#comics

			.av-club
				.work-items
					%ul
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}

			.feature-consider
			.vox-media
				.work-items
					%ul
						%li
							%a{:href => ""}

				.npr-books
				.work-items
					%ul
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
			.vice
				.work-items
					%ul
						%li
							%a{:href => ""}
			.la-times
				.work-items
					%ul
						%li
							%a{:href => ""}
						%li
							%a{:href => ""}
			.vice




	